<h2>Aspect Ratio</h2>

<section class="aspect-ratio">
    <!-- portrait -->
    <div class="ratio-2_3"></div>
    <div class="ratio-3_4"></div>
    <div class="ratio-9_16"></div>
    <!-- landscape -->
    <div class="ratio-3_2"></div>
    <div class="ratio-4_3"></div>
    <div class="ratio-16_9"></div>
    <!-- other -->
    <div class="ratio-16_10"></div>
    <div class="ratio-17_10"></div>
    <div class="ratio-19_16"></div>
    <div class="ratio-21_16"></div>
    <div class="ratio-23_16"></div>
    <!-- device - DEPRECATED -->
    <div class="ratio-device_3_2"></div>
    <div class="ratio-device_4_3"></div>
    <div class="ratio-device_16_9"></div>
</section>
