<h2>@supports</h2>

<h3>calc()</h3>
<section class="supports">
    <div class="calc"></div>
</section>

<h3>flex</h3>
<section class="supports">
    <div class="webkit-flex"></div>
    <div class="moz-flex"></div>
    <div class="flex"></div>
</section>

<h3>viewport units</h3>
<section class="supports">
    <div class="vw"></div>
    <div class="vh"></div>
    <div class="vmin"></div>
    <div class="vmax"></div>
</section>
