<h2>Resolution</h2>

<section class="resolution">
    <div class="min-device-pixel-ratio-1"></div>
    <div class="min-device-pixel-ratio-1_25"></div>
    <div class="min-device-pixel-ratio-2"></div>
    <div class="min-resolution-120dpi"></div>
    <div class="min-resolution-192dpi"></div>
    <div class="min-resolution-125dppx"></div>
</section>
