<h2>Next / Future</h2>

<h3>pointer</h3>
<section class="next">
    <div class="pointer-none"></div>
    <div class="pointer-coarse"></div>
    <div class="pointer-fine"></div>
</section>

<h3>hover</h3>
<section class="next">
    <div class="hover"></div>
</section>

<h3>light-level</h3>
<section class="next">
    <div class="light-level-dim"></div>
    <div class="light-level-normal"></div>
    <div class="light-level-washed"></div>
</section>
