<h2>Sizing</h2>

<h3>min</h3>
<section class="sizing">
    <div class="min-width"></div>
    <!-- <div class="min-device-width"></div> -->
    <div class="min-height"></div>
    <!-- <div class="min-device-height"></div> -->
</section>

<h3>max</h3>
<section class="sizing">
    <div class="max-width"></div>
    <!-- <div class="max-device-width"></div> -->
    <div class="max-height"></div>
    <!-- <div class="max-device-height"></div> -->
</section>
